.venv/
__pycache__/

original_videos/*
processed_videos/*

.idea/

assets/Large size.mp4

# Archivos de documentacion
GUIA_POSTMAN.md
RESUMEN_FINAL.md
GUIA_POSTGRESQL_DBEAVER.md
CHECKLIST.md
AUTENTICACION_README.md
